@import "~bootstrap/scss/bootstrap";

body{
  margin: 0;
  padding: 0;
}

.nav-logo{
  width: 50px;
}

.btn-connect{
  margin-right: 30px;
}

.links{
  margin-left: auto;
}

.list-home{
  margin-left: 10px;
  margin-right: 10px;
  a{
    text-decoration: none;
    color: unset;
  }
  a:hover{
    opacity: 0.5;
  }
}

.badge{
  color: unset;
}

.welcome{
  color: white;
  margin: 0 10px 0 0;
}

@media screen and  (min-width: 100px) and (max-width: 992px){
  .btn-connect{
    margin-right: 0;
    margin-bottom: 8px;
  }
}