<form method="post" action="{{ path('advert_delete', {'id': advert.id}) }}" onsubmit="return confirm('Êtes vous sûr(e) de vouloir supprimer votre annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advert.id) }}">
    <button class="btn btn-danger" style="width: 100%">Supprimer mon annonce</button>
</form>
